{% extends 'base.html' %}

{% block content %}
<body>
  <div class="container-fluid p-3 my-1 bg-dark text-white">
    <div class = "row">
      <div class = "col-md-6">
        <h2>
          {{req_problem.name}} 
        </h2>
        <p>{{req_problem.description}}</p>
        <p>{{req_problem.testcase1}}</p>
        <p>{{req_problem.testcase2}}</p>
      </div>
      <div class = "col-md-6">
        <h2>
          Compiler
        </h2>
        <form method = "POST">
          {% csrf_token %}
          <div class="row">
            <div class = "col-md-12">
              <div class="form-group">
                <label for="language">Language:</label>
                <select class="form-control" id="language" name="language">
                  <option value="c">C</option>
                  <option value="cpp">C++</option>
                  <option value="py">Python</option>
                </select>
              </div>
            </div>
            <div class = "col-md-12">
              <div class="form-group">
                <label for="code">Code:</label>
                <textarea class="form-control" rows="12" name="code" id="code"></textarea>
              </div>
            </div>
            <div class = "col-md-12">
              <div class="form-group">
                <label for="input">Input:</label>
                <textarea class="form-control" rows="5" id="input" name = "input"></textarea>
              </div>
              <div class="col text-center">
                <button type="submit" class="btn btn-primary" align-center>Submit</button>
              </div>
            </form>
          </div>
        </div>
    </div>
</body>
{% endblock %}